body {
  font-family: "Raleway", sans-serif;
}
.chart-div {
  width: 1000px;
}
@media (max-width: 1023px) {
  .chart-div {
    width: 300px;
  }
}
.MuiButton-label {
  text-transform: uppercase;
  color: white;
  font-family: "Raleway", sans-serif;
}
.weather-display {
  display: flex;
  overflow-x: auto;
}
.weather-display div {
  width: 200px;
  font-size: 15px;
  color: darkgray;
}
.weather-display div div.temperature {
  font-size: 22px;
  color: white;
}
.weather-display::-webkit-scrollbar {
  display: none;
}
